/*цвет основного текста #212121*/
/*вторичный цвет текста #757575*/
/*белый #FFFFFF*/
/* цвет текста при наведении #2196F3*/
/*жирный текст #000000*/
/*вторичный цвет фона #F5F4FA*/

:root{
    --primary-text-color:#212121;
    --title-text-color:#757575;
    --accent-color:#2196F3; 
    --primary-white-color:#FFFFFF;
    --primary-button-color:#F5F4FA;


}



body{
    background-color #FFFFFF;
    color: var(--primary-text-color);}
.list{
    list-style: none;}


.Logo{color: #000000;}

/*hero*/
.hero-title{
    color:#FFFFFF ;
}



/*site-nav*/
.site-nav .link {
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--primary-text-color);
}

.site-nav .current{
    color: var(--primary-text-color);
}



/*Основной цвет заголовков секций*/
.section-title{
    color: var(--primary-text-color);
}
/*преимущества*/
.features-list .title{
    color: var(--primary-text-color);
}
/*чем занимаемся*/
.personal-list .title{
    color: var(--primary-text-color);
}

/*Проекти*/
.projects-list.title{
    color:var(--primary-text-color);
}
.projects-list.text{
color: var(--title-text-color);
}

/*button*/
.button{
color: var(--title-text-color);
background-color: var(--accent-color);
}

.button.primary{
    background-color: var(--accent-color);
    color: var(--primary-button-color);
}
.button.secondary{
    background-color:var(--primary-button-color) ;
    color: var(--accent-color);
}

